In [29]:
import pandas as pd

In [39]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [40]:
df_vendors=pd.read_excel('~/Downloads/2020-06-16 data export 2/ACC 455 001 SQ 2020/Homework 3/Fuzzy-Tables-1.xlsm',sheet_name='Vendors')

In [41]:
df_vendors.head()

,VendorID,VendorName,VendorType,VendorSince,VendorContact,VendorBillingAddress,VendorBillingCity,VendorBillingState,VendorBillingZip,VendorBillingPhone
0,5001,Subcone,Retail,2010-01-06,Zechariah Lynch,260 Airport Street,Belmont,MA,2478,3375939790
1,5002,Groovefan,Wholesale,2010-02-11,Meadow Farrell,182 Bayberry St.,Matthews,NC,28104,3478398739
2,5003,Zapsanflex,Wholesale,2010-03-15,Andres Phillips,375 Theatre Rd.,Millville,NJ,8332,8148473222
3,5004,Zammedia,Retail,2010-04-09,Rohan Jimenez,48 Fremont Dr.,Frankfort,KY,40601,8282690510
4,5005,Unosunflex,Retail,2010-04-12,Alexis Lloyd,34 Mayfield St.,Ridgefield,CT,6877,3526796551

In [42]:
df_employees=pd.read_excel('~/Downloads/2020-06-16 data export 2/ACC 455 001 SQ 2020/Homework 3/Fuzzy-Tables-1.xlsm',sheet_name='Employees')

In [43]:
df_employees.head()

,EmployeeStreetAddress,EmployeeID,EmployeeFirstName,EmployeeLastName,EmployeeGender,EmployeeHireDate,EmployeeStreetAddress2,EmployeeCity,EmployeeState,EmployeeZip,EmployeePhone
0,306A Oakwood Lane,1049,Ana,Terrell,F,2019-01-15,306A Oakwood Lane,Algonquin,IL,60102,3524937211
1,93 Wakehurst Lane,1009,Tabitha,Dennis,F,2011-06-27,93 Wakehurst Lane,Alliance,OH,44601,9066082859
2,7489 Bayport St.,1022,Caroline,Davis,F,2013-03-22,7489 Bayport St.,Ames,IA,50010,3257842718
3,9173 West Squaw Creek Drive,1049,Camille,Stokes,F,2017-02-09,9173 West Squaw Creek Drive,Arvada,CO,80003,2064592209
4,9444 Manhattan Dr.,1049,Semaj,Hawkins,M,2017-12-13,9444 Manhattan Dr.,Astoria,NY,11102,6097459461

In [44]:
df_vendors.columns

Index(['VendorID', 'VendorName', 'VendorType', 'VendorSince', 'VendorContact',
       'VendorBillingAddress', 'VendorBillingCity', 'VendorBillingState',
       'VendorBillingZip', 'VendorBillingPhone'],
      dtype='object')

In [45]:
df_employees.columns

Index(['EmployeeStreetAddress', 'EmployeeID', 'EmployeeFirstName',
       'EmployeeLastName', 'EmployeeGender', 'EmployeeHireDate',
       'EmployeeStreetAddress2', 'EmployeeCity', 'EmployeeState',
       'EmployeeZip', 'EmployeePhone'],
      dtype='object')

In [60]:
scores=pd.DataFrame(columns=['Vendor', 'Vendor Address', 'Employee', 'Employee Address', 'Score'])

In [52]:
ee_choices[:2]

['306A Oakwood Lane ', '93 Wakehurst Lane ']

In [47]:
fuzz.token_set_ratio(df_vendors['VendorBillingAddress'][1],df_employees['EmployeeStreetAddress'][2])

60

In [53]:
ee_choices = df_employees['EmployeeStreetAddress'].tolist()

In [54]:
process.extract(df_vendors['VendorBillingAddress'][1], ee_choices, limit=2)

[('27 Arch St. ', 86), ('6 Beech St. ', 86)]

In [55]:
df_vendors['VendorBillingAddress'][1]

'182 Bayberry St. '

In [57]:
process.extractOne(df_vendors['VendorBillingAddress'][1], ee_choices)

('27 Arch St. ', 86)

In [77]:
for i in range(len(df_vendors['VendorBillingAddress'])):

    score = process.extractOne(df_vendors['VendorBillingAddress'][i], ee_choices)
    ee_name = df_employees['EmployeeLastName'][ee_choices.index(score[0])]
    print(df_vendors['VendorBillingAddress'][i], ee_name,score[0], score[1])
#     scores.append(df_vendors['VendorName'][i],df_vendors['VendorBillingAddress'][i],score[0], score[1])

260 Airport Street  Watson 82 Airport Dr.  71
182 Bayberry St.  Maynard 27 Arch St.  86
375 Theatre Rd.  Duke 8748 W. Theatre Ave.  64
48 Fremont Dr.  Watson 82 Airport Dr.  62
34 Mayfield St.  Haas 49 Hamilton St.  57
7 West Linda Avenue  Hurst 987 Willow Avenue  61
98 North Hanover St.  Schultz 977 Shore St.  86
421 Lake Forest St.  Schultz 977 Shore St.  86
434 East Smith Store Dr.  Watson 82 Airport Dr.  86
7015 Arch Street  Mullen 823 S. Cobblestone Street  86
9123 North Campfire St.  Haas 49 Hamilton St.  86
7978 Pennsylvania Ave.  Mckay 6 Lincoln Ave.  86
677 Johnson Lane  Terrell 306A Oakwood Lane  55
52 Golden Star Dr.  Willis 384 Ryan Dr.  86
8226 Shirley Street  Logan 321 Hickory Street  70
56 Trout Lane Unit B Jefferson 56 Oakwood St.  86
878 South Franklin St.  Haas 49 Hamilton St.  86
976 Linda Drive  Stokes 9173 West Squaw Creek Drive  86
780 N. Valley View Ave.  Mckay 6 Lincoln Ave.  86
856 North Homewood Road  Cooke 4 Alton Road  86
73 Olive Road  Church 9989 S. Ridgeview Road  86
40 Chapel Lane  Best 840 Sheffield Lane  69
9 East Glen Creek Street  Best 9716 Vale Street  86
422 Woodland Ave.  Cox 45 3rd Ave.  86
8685 University Street  Hinton 6 Green Street  86
702 Harrison Ave.  Cox 45 3rd Ave.  86
7826 Victoria Street  Logan 321 Hickory Street  68
673 Longbranch St.  Barber 267 Golf St.  86
74 Glenlake Drive  Stokes 9173 West Squaw Creek Drive  86
55 North Riverview Street  Best 9716 Vale Street  86
8555 Gulf Lane  Choi 9684 Goldfield Lane  61
665 West Gartner Dr.  Willis 384 Ryan Dr.  86
60 Anderson St.  Benson 7022 N. Lantern St.  62
8481 Birch Hill Avenue  Vargas 8705 Birch Hill Rd.  67
39 Joy Ridge Road  Church 9989 S. Ridgeview Road  67
4 Deerfield St.  Bruce 904 Sheffield Ave.  58
60 Lake Court  Ferrell 7565 Lancaster Court  86
18 S. Thompson Street  Hinton 6 Green Street  86
8325 Acacia Street  Banks 7835 Marsh Street  69
370 S. Henry Smith Court  Johnston 7436 Court Drive  86
724 S. Homestead Ave.  Mckay 6 Lincoln Ave.  86
7124 San Carlos Lane  Weber 204 San Carlos Rd.  76
7823 Bedford Road  Macdonald 73 Front Road  67
9244 Birchwood Ave.  Cox 45 3rd Ave.  86
87 New St.  Davis 7489 Bayport St.  86
45 Beach Street  Cox 45 3rd Ave.  86
737 Bear Hill Ave.  Cox 45 3rd Ave.  86
972 Lookout Road  Macdonald 73 Front Road  62
713 Second Dr.  Melton 913 Court Drive  57
9854 Pawnee Lane  Best 840 Sheffield Lane  59
194 North Pine St.  Barber 267 Golf St.  86
94 Bowman Road  Church 9989 S. Ridgeview Road  86
7183 West University Street  Best 9716 Vale Street  86
67 Liberty Lane  Pitts 61 University Lane  73
764 Elm Road  Warren 8710 Gainsway Road  86
354 Winding Way Ave.  Cox 45 3rd Ave.  86
75 Branch Ave.  Maddox 8063 Spring Ave. Apt 66 86
267 W. Acacia Street  Barber 267 Golf St.  86
226 Beech St.  Wyatt 6 Beech St.  91
570 Bayberry St.  Maynard 27 Arch St.  86
239 N. Gonzales Street  Hinton 6 Green Street  86
15 Orange St.  Nielsen 9426 North Hall St.  86
325 Meadowbrook Ave.  Cox 45 3rd Ave.  86
338 Fairground Street  Hinton 6 Green Street  86
747 Warren St.  Santos 8312 W. Blackburn St.  86
693 Sutor Ave.  Maddox 8063 Spring Ave. Apt 66 86
11 Courtland Street  Mccoy 919 Orchard Street  70
9178 Woodside Street  Wilcox 9980 Hillside Street  70
71 Fulton Ave.  Maddox 8063 Spring Ave. Apt 66 86
9834 Temple Avenue  Washington 9342 Depot Avenue  74
255 Longbranch Street  Hinton 6 Green Street  86
8891 Bay Meadows Lane  Dennis 93 Wakehurst Lane  53
9485 Evergreen Court  Stone 934 Miller Court  61
8180 Maiden Ave.  Cox 45 3rd Ave.  86
740 South Jennings St.  Haas 49 Hamilton St.  86
621 Berkshire Street  Logan 321 Hickory Street  68
306 10th St.  Nielsen 9426 North Hall St.  86
4 Bedford Dr.  Ballard 66 Pennsylvania Dr.  86
7039 Oakwood Drive  Stokes 9173 West Squaw Creek Drive  86
599 North Airport Court  Watson 82 Airport Dr.  86
9911 Shore Ave.  Maddox 8063 Spring Ave. Apt 66 86
7720 Mechanic St.  Maynard 27 Arch St.  86
253 High Noon Street  Grimes 723 Del Monte Street  65
8933 Euclid St.  Lucas 789 Glenridge St.  60
9332 Bradford Ave.  Cox 45 3rd Ave.  86
8 Olive Dr.  Hawkins 9444 Manhattan Dr.  86
538 Saxton Dr.  Willis 384 Ryan Dr.  67
835 Nicolls St.  Berger 47 NE. Nichols St.  65
900 Brewery St.  Nunez 9976 Cemetery St.  60
8960 S. Orange St.  Barber 267 Golf St.  86
542 South Franklin Street  Best 9716 Vale Street  86
192 Glenridge Drive  Houston 7510 S. Glenridge Drive  84
8 Edgefield Street  Hinton 6 Green Street  69
9237 Smith Store Road  Cooke 4 Alton Road  86
872 Lawrence Ave.  Cox 45 3rd Ave.  86
9735 Rose St.  Nielsen 9426 North Hall St.  86
57 East Lookout St.  Schultz 977 Shore St.  86
42 Sunbeam St.  Santos 8312 W. Blackburn St.  86
98 Walt Whitman Street  Hinton 6 Green Street  86
730 Livingston St.  Barber 267 Golf St.  86
63 West Lookout Ave.  Cox 45 3rd Ave.  86
15 Lakeview Ave.  Cox 45 3rd Ave.  86
7066 Valley Farms Ave.  Mckay 6 Lincoln Ave.  86
611 Creekside Drive  Hensley 169 Carriage Drive  65
8775 Bohemia Ave.  Cox 45 3rd Ave.  86
13 Euclid Court  Conrad 377 N. High Ridge Court  86
248 Homestead St.  Maynard 27 Arch St.  86
801 Golf St.  Nielsen 9426 North Hall St.  86
9396 Amerige St.  Maynard 27 Arch St.  86
8581 E. Shirley St.  Schultz 977 Shore St.  86
700 Trusel Lane  Best 840 Sheffield Lane  61
7727 Glenwood St.  Maynard 27 Arch St.  86
8 Coffee Court  Conrad 377 N. High Ridge Court  86
548 Richardson St.  Barber 267 Golf St.  86
7918 Ketch Harbour St.  Haas 49 Hamilton St.  86
913 Prospect Street  Jackson 9 Jones Street  67
217 Snake Hill St.  Barber 267 Golf St.  86
853 Valley Farms Ave.  Mckay 6 Lincoln Ave.  86
900 South Annadale St.  Haas 49 Hamilton St.  86
721 E. Grant Ave.  Cox 45 3rd Ave.  86
83 E. Devon Lane  Morris 7393 E. Garden Ave.  65
82 E. Mill Pond Court  Watson 82 Airport Dr.  86
30 Valley View Ave. Suite 15 Mckay 6 Lincoln Ave.  86
27 Crescent Street  Maynard 27 Arch St.  86
746 Annadale St.  Maynard 27 Arch St.  86
447 Riverview Ave.  Cox 45 3rd Ave.  86
74 Holly Ave.  Maddox 8063 Spring Ave. Apt 66 86
8 Wilson Dr.  Hawkins 9444 Manhattan Dr.  86
8029 Morris Street  Jackson 9 Jones Street  69
68 Fieldstone Lane  Choi 9684 Goldfield Lane  70
1 W. Water Street  James 7074 SW. Wild Horse Street  86
93 Atlantic St.  Norman 749 N. Atlantic Drive  86
8167 E. Military Dr.  Willis 384 Ryan Dr.  86
533 Sage Drive  Stokes 9173 West Squaw Creek Drive  86
8719 Lexington Ave.  Cox 45 3rd Ave.  86
739 Sunset St.  Santos 8312 W. Blackburn St.  86
45 Marconi Rd. Fuentes 45 N. Marconi Road  84
16 Third St.  Nielsen 9426 North Hall St.  86
9678 N. Kingston Street  Hinton 6 Green Street  86
9807 Oak Dr.  Hawkins 9444 Manhattan Dr.  86
45 North Marconi Cox 45 3rd Ave.  86
7626 Aspen Rd.  Allison 762 Aspen Road 89