In [1]:
import pandas as pd

In [2]:
import fuzzywuzzy as fw

In [6]:
df_vendors=pd.read_excel('~/Downloads/Lab_3_1_Fuzzy.xlsx',sheet_name='Vendors')

In [7]:
df_vendors.head()

,VendorID,VendorName,VendorType,VendorSince,VendorContact,VendorBillingAddress,VendorBillingCity,VendorBillingState,VendorBillingZip,VendorBillingPhone
0,5001,Subcone,Retail,2010-01-06,Zechariah Lynch,260 Airport Street,Belmont,MA,2478,3375939790
1,5002,Groovefan,Wholesale,2010-02-11,Meadow Farrell,182 Bayberry St.,Matthews,NC,28104,3478398739
2,5003,Zapsanflex,Wholesale,2010-03-15,Andres Phillips,375 Theatre Rd.,Millville,NJ,8332,8148473222
3,5004,Zammedia,Retail,2010-04-09,Rohan Jimenez,48 Fremont Dr.,Frankfort,KY,40601,8282690510
4,5005,Unosunflex,Retail,2010-04-12,Alexis Lloyd,34 Mayfield St.,Ridgefield,CT,6877,3526796551

In [8]:
df_employees=pd.read_excel('~/Downloads/Lab_3_1_Fuzzy.xlsx',sheet_name='Employees')

In [9]:
df_employees.head()

,EmployeeID,EmployeeFirstName,EmployeeLastName,EmployeeGender,EmployeeHireDate,EmployeeStreetAddress,EmployeeCity,EmployeeState,EmployeeZip,EmployeePhone
0,1000,Harry,Haas,M,2010-06-28,49 Hamilton St.,Christiansburg,VA,24073,6092506128
1,1001,Nadia,Haley,F,2010-08-07,851 Glenholme Road,Paducah,KY,42001,8145529211
2,1002,Erik,Hensley,M,2010-08-09,169 Carriage Drive,Knoxville,TN,37918,8651758266
3,1003,Annabel,Morris,F,2010-09-04,7393 E. Garden Ave.,Worcester,MA,1604,2343264246
4,1004,Valentina,Grimes,F,2010-11-09,723 Del Monte Street,Easton,PA,18042,2409677629