In [13]:
import pandas as pd

In [14]:
import fuzzywuzzy as fw

In [15]:
df_vendors=pd.read_excel('~/Downloads/2020-06-16 data export 2/ACC 455 001 SQ 2020/Homework 3/Fuzzy-Tables-1.xlsm',sheet_name='Vendors')

In [16]:
df_vendors.head()

,VendorID,VendorName,VendorType,VendorSince,VendorContact,VendorBillingAddress,VendorBillingCity,VendorBillingState,VendorBillingZip,VendorBillingPhone
0,5001,Subcone,Retail,2010-01-06,Zechariah Lynch,260 Airport Street,Belmont,MA,2478,3375939790
1,5002,Groovefan,Wholesale,2010-02-11,Meadow Farrell,182 Bayberry St.,Matthews,NC,28104,3478398739
2,5003,Zapsanflex,Wholesale,2010-03-15,Andres Phillips,375 Theatre Rd.,Millville,NJ,8332,8148473222
3,5004,Zammedia,Retail,2010-04-09,Rohan Jimenez,48 Fremont Dr.,Frankfort,KY,40601,8282690510
4,5005,Unosunflex,Retail,2010-04-12,Alexis Lloyd,34 Mayfield St.,Ridgefield,CT,6877,3526796551

In [17]:
df_employees=pd.read_excel('~/Downloads/2020-06-16 data export 2/ACC 455 001 SQ 2020/Homework 3/Fuzzy-Tables-1.xlsm',sheet_name='Employees')

In [18]:
df_employees.head()

,EmployeeStreetAddress,EmployeeID,EmployeeFirstName,EmployeeLastName,EmployeeGender,EmployeeHireDate,EmployeeStreetAddress2,EmployeeCity,EmployeeState,EmployeeZip,EmployeePhone
0,306A Oakwood Lane,1049,Ana,Terrell,F,2019-01-15,306A Oakwood Lane,Algonquin,IL,60102,3524937211
1,93 Wakehurst Lane,1009,Tabitha,Dennis,F,2011-06-27,93 Wakehurst Lane,Alliance,OH,44601,9066082859
2,7489 Bayport St.,1022,Caroline,Davis,F,2013-03-22,7489 Bayport St.,Ames,IA,50010,3257842718
3,9173 West Squaw Creek Drive,1049,Camille,Stokes,F,2017-02-09,9173 West Squaw Creek Drive,Arvada,CO,80003,2064592209
4,9444 Manhattan Dr.,1049,Semaj,Hawkins,M,2017-12-13,9444 Manhattan Dr.,Astoria,NY,11102,6097459461

In [25]:
df_vendors.columns

Index(['VendorID', 'VendorName', 'VendorType', 'VendorSince', 'VendorContact',
       'VendorBillingAddress', 'VendorBillingCity', 'VendorBillingState',
       'VendorBillingZip', 'VendorBillingPhone'],
      dtype='object')

In [26]:
df_employees.columns

Index(['EmployeeStreetAddress', 'EmployeeID', 'EmployeeFirstName',
       'EmployeeLastName', 'EmployeeGender', 'EmployeeHireDate',
       'EmployeeStreetAddress2', 'EmployeeCity', 'EmployeeState',
       'EmployeeZip', 'EmployeePhone'],
      dtype='object')

In [24]:
score_directory=[]

In [21]:
for i in df_vendors['VendorBillingAddress']:
    for k in df_emplyees['']
    print(i)

260 Airport Street
182 Bayberry St.
375 Theatre Rd.
48 Fremont Dr.
34 Mayfield St.
7 West Linda Avenue
98 North Hanover St.
421 Lake Forest St.
434 East Smith Store Dr.
7015 Arch Street
9123 North Campfire St.
7978 Pennsylvania Ave.
677 Johnson Lane
52 Golden Star Dr.
8226 Shirley Street
56 Trout Lane Unit B
878 South Franklin St.
976 Linda Drive
780 N. Valley View Ave.
856 North Homewood Road
73 Olive Road
40 Chapel Lane
9 East Glen Creek Street
422 Woodland Ave.
8685 University Street
702 Harrison Ave.
7826 Victoria Street
673 Longbranch St.
74 Glenlake Drive
55 North Riverview Street
8555 Gulf Lane
665 West Gartner Dr.
60 Anderson St.
8481 Birch Hill Avenue
39 Joy Ridge Road
4 Deerfield St.
60 Lake Court
18 S. Thompson Street
8325 Acacia Street
370 S. Henry Smith Court
724 S. Homestead Ave.
7124 San Carlos Lane
7823 Bedford Road
9244 Birchwood Ave.
87 New St.
45 Beach Street
737 Bear Hill Ave.
972 Lookout Road
713 Second Dr.
9854 Pawnee Lane
194 North Pine St.
94 Bowman Road
7183 West University Street
67 Liberty Lane
764 Elm Road
354 Winding Way Ave.
75 Branch Ave.
267 W. Acacia Street
226 Beech St.
570 Bayberry St.
239 N. Gonzales Street
15 Orange St.
325 Meadowbrook Ave.
338 Fairground Street
747 Warren St.
693 Sutor Ave.
11 Courtland Street
9178 Woodside Street
71 Fulton Ave.
9834 Temple Avenue
255 Longbranch Street
8891 Bay Meadows Lane
9485 Evergreen Court
8180 Maiden Ave.
740 South Jennings St.
621 Berkshire Street
306 10th St.
4 Bedford Dr.
7039 Oakwood Drive
599 North Airport Court
9911 Shore Ave.
7720 Mechanic St.
253 High Noon Street
8933 Euclid St.
9332 Bradford Ave.
8 Olive Dr.
538 Saxton Dr.
835 Nicolls St.
900 Brewery St.
8960 S. Orange St.
542 South Franklin Street
192 Glenridge Drive
8 Edgefield Street
9237 Smith Store Road
872 Lawrence Ave.
9735 Rose St.
57 East Lookout St.
42 Sunbeam St.
98 Walt Whitman Street
730 Livingston St.
63 West Lookout Ave.
15 Lakeview Ave.
7066 Valley Farms Ave.
611 Creekside Drive
8775 Bohemia Ave.
13 Euclid Court
248 Homestead St.
801 Golf St.
9396 Amerige St.
8581 E. Shirley St.
700 Trusel Lane
7727 Glenwood St.
8 Coffee Court
548 Richardson St.
7918 Ketch Harbour St.
913 Prospect Street
217 Snake Hill St.
853 Valley Farms Ave.
900 South Annadale St.
721 E. Grant Ave.
83 E. Devon Lane
82 E. Mill Pond Court
30 Valley View Ave. Suite 15
27 Crescent Street
746 Annadale St.
447 Riverview Ave.
74 Holly Ave.
8 Wilson Dr.
8029 Morris Street
68 Fieldstone Lane
1 W. Water Street
93 Atlantic St.
8167 E. Military Dr.
533 Sage Drive
8719 Lexington Ave.
739 Sunset St.
45 Marconi Rd.
16 Third St.
9678 N. Kingston Street
9807 Oak Dr.
45 North Marconi
7626 Aspen Rd.