# Cute pandas 2

Table of Contents

* [Where we left off last](#Where-we-left-off-last)
* [Dtypes](#Dtypes)
* [Cleaning Data](#Cleaning-Data)
* [Resources](#Resources)

To run the code cells below either click `Run` in the menu above or `Help` has a list of all the `Keyboard Shortcuts`:
* `Shift + Enter` run the current cell, select below
* `Ctrl + Ente`r run selected cells
* `Alt + Enter` run the current cell, insert below
* `Ctrl + S` save and checkpoint

## Where we left off last

Here is where we left off at the end of `python_pandas_cleaning_data1.ipynb` file.
In this current file, we will take it a step further and check all the columns data, 
convert it to appropriate formats and ready for analyzing.

In [79]:
# Importing pandas package
import pandas as pd

In [80]:
#Loading csv file with accounting data
fin_sample = pd.read_csv('financial_sample.csv')

# 'Renaming' columns in place by stripping away spaces before and after column names in the existing dataframe
fin_sample.rename(columns=lambda x: x.strip(), inplace=True)

# Stripping spaces around text in dataframe
fin_sample_trimmed = fin_sample.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

# Stripping away '$-' symbol from dataframe
fin_sample_trimmed_clean = fin_sample_trimmed.apply(lambda x: x.str.strip('$-') if x.dtype == "object" else x)

In [81]:
# At this point point, we are exactly where we left off last...
fin_sample_trimmed_clean.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3.00,20.00,"32,370.00",,"32,370.00","16,185.00","16,185.00",1/1/14,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3.00,20.00,"26,420.00",,"26,420.00","13,210.00","13,210.00",1/1/14,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3.00,15.00,"32,670.00",,"32,670.00","21,780.00","10,890.00",6/1/14,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3.00,15.00,"13,320.00",,"13,320.00","8,880.00","4,440.00",6/1/14,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3.00,15.00,"37,050.00",,"37,050.00","24,700.00","12,350.00",6/1/14,6,June,2014

In [82]:
fin_sample_trimmed_clean.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       'Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

## Dtypes

In [83]:
# What type of data types are we dealing with here? 
# Each column has it's data type assigned/inferred during loading csv data.
# 'Object' data type means in essence a mixed data type. 
# For example 'Country' column could have strings(text) or integers(numbers) for values which is not great.
# We want each column to be a uniform data type so that we can expect how it behaves when we manipulate it
# during analysis. The output below shows us that 'Units Sold' is a float (decimal), 'Month' and 'Year' are integers.
# Every other column is an object which we need to fix.

fin_sample_trimmed_clean.dtypes

Segment                 object
Country                 object
Product                 object
Discount Band           object
Units Sold             float64
Manufacturing Price     object
Sale Price              object
Gross Sales             object
Discounts               object
Sales                   object
COGS                    object
Profit                  object
Date                    object
Month Number             int64
Month Name              object
Year                     int64
dtype: object

In [84]:
# Let's look at 'Sales' column and the first two data points. Both items look like numbers... Are they integers?
[x for x in fin_sample_trimmed_clean['Sales']][0:2]

['32,370.00', '26,420.00']

In [85]:
# We have strings on our hands... strings in essence mean text data, not numbers.
[type(x) for x in fin_sample_trimmed_clean['Sales']][0:2]

[str, str]

In [31]:
fin_sample_trimmed_clean['Discounts'] = pd.to_numeric(fin_sample_trimmed_clean['Discounts'].astype(str).str.replace(',',''), errors='coerce')
fin_sample_trimmed_clean.fillna(0, inplace=True)

In [32]:
fin_sample_trimmed_clean.tail()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
20995,Small Business,France,Amarilla,High,2475.0,260.00,300.00,"742,500.00",111375.00,"631,125.00","618,750.00","12,375.00",3/1/2014,3,March,2014
20996,Small Business,Mexico,Amarilla,High,546.0,260.00,300.00,"163,800.00",24570.00,"139,230.00","136,500.00","2,730.00",10/1/2014,10,October,2014
20997,Government,Mexico,Montana,High,1368.0,5.00,7.00,"9,576.00",1436.40,"8,139.60","6,840.00","1,299.60",2/1/2014,2,February,2014
20998,Government,Canada,Paseo,High,723.0,10.00,7.00,"5,061.00",759.15,"4,301.85","3,615.00",686.85,4/1/2014,4,April,2014
20999,Channel Partners,United States of America,VTT,High,1806.0,250.00,12.00,"21,672.00",3250.80,"18,421.20","5,418.00","13,003.20",5/1/2014,5,May,2014

In [33]:
[x for x in fin_sample_trimmed_clean['Discounts']]

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 276.15,
 344.4,
 72.1,
 44.73,
 92.82,
 222.96,
 4235.0,
 177.03,
 173.4,
 412.5,
 320.52,
 91.92,
 1482.0,
 4889.5,
 7542.5,
 332.1,
 6903.0,
 275.1,
 128.1,
 7494.0,
 828.75,
 227.1,
 314.48,
 908.75,
 983.75,
 2278.75,
 112.05,
 91.92,
 8715.0,
 7542.5,
 772.8,
 25.34,
 1153.75,
 828.75,
 146.44,
 18.41,
 3302.25,
 908.75,
 983.75,
 2958.0,
 1482.0,
 4889.5,
 2180.0,
 238.68,
 48.15,
 1856.25,
 310.8,
 1284.0,
 300.3,
 19964.0,
 274.08,
 626.4,
 165.6,
 4150.0,
 708.9,
 5508.0,
 10368.0,
 274.08,
 1655.0,
 310.8,
 2022.5,
 5362.5,
 428.4,
 11496.0,
 19964.0,
 6822.5,
 577.5,
 281.82,
 253.2,
 260.16,
 626.4,
 20762.0,
 20139.0,
 2022.5,
 5362.5,
 253.2,
 217.6,
 260.16,
 1655.0,
 1284.0,
 20139.0,
 6822.5,
 1862.0,
 13580.0,
 1554.0,
 6606.0,
 5690.0,
 20762.0,
 494.4,
 376.4,
 11496.0,
 15913.13,
 1548.0,
 6201.0,
 700.92,
 326.88,
 411.18,
 684.36,
 114.24,
 18868.5,
 4826.25,
 6397.5,
 21910.5,
 6652.5,
 684.36,
 6201.0,
 5887.5,
 493.02,
 7533.75,
 875.25,
 4826.25,
 6397.5,
 7533.75,
 25596.0,
 689.76,
 5887.5,
 16866.0,
 17241.0,
 875.25,
 498.6,
 369.6,
 2310.3,
 892.44,
 1218.6,
 1218.6,
 1356.6,
 588.8,
 798.28,
 24252.0,
 3836.0,
 1180.2,
 22308.0,
 798.28,
 24252.0,
 5690.0,
 1190.28,
 3975.0,
 16974.0,
 35016.0,
 48300.0,
 14940.0,
 130.8,
 1659.2,
 844.8,
 402.6,
 908.4,
 3836.0,
 5690.0,
 703.2,
 2116.8,
 30478.0,
 415.68,
 4886.0,
 30478.0,
 908.4,
 26110.0,
 5370.0,
 26698.0,
 402.6,
 24892.0,
 405.65,
 480.2,
 822.15,
 941.15,
 1458.6,
 1458.6,
 941.15,
 589.05,
 673.8,
 405.65,
 1119.0,
 669.6,
 1563.0,
 14865.0,
 355.6,
 2093.25,
 199.5,
 870.45,
 24228.75,
 22668.75,
 12600.0,
 1405.2,
 16500.0,
 1303.0,
 18700.0,
 14906.25,
 24105.0,
 814.45,
 14865.0,
 10535.0,
 1965.0,
 21490.0,
 1389.0,
 5381.25,
 4400.0,
 1802.0,
 2663.0,
 747.6,
 1587.0,
 416.25,
 2145.75,
 5043.75,
 10535.0,
 2832.0,
 1579.0,
 5381.25,
 4400.0,
 1033.0,
 18750.0,
 1389.0,
 1265.0,
 2297.0,
 2663.0,
 199.5,
 870.45,
 23625.0,
 9660.0,
 21490.0,
 18750.0,
 3420.9,
 1341.0,
 2559.6,
 404.64,
 1655.28,
 1827.0,
 110.46,
 6652.5,
 20580.0,
 30660.0,
 589.26,
 1960.56,
 31416.0,
 1655.28,
 15267.0,
 7140.0,
 20662.5,
 1377.0,
 31416.0,
 629.16,
 21978.0,
 43596.0,
 2559.6,
 629.16,
 21978.0,
 1347.6,
 43848.0,
 14906.25,
 35259.0,
 15267.0,
 589.26,
 43596.0,
 2108.4,
 1978.2,
 1568.7,
 1037.7,
 2108.4,
 1201.2,
 559.86,
 1037.7,
 610.68,
 1582.56,
 2567.6,
 1965.6,
 1967.28,
 505.19,
 1325.1,
 556.15,
 268.03,
 775.18,
 1460.34,
 1860.6,
 775.18,
 556.15,
 43144.5,
 9408.0,
 45801.0,
 2766.4,
 45801.0,
 21875.0,
 35742.0,
 9408.0,
 30738.75,
 2206.05,
 3077.55,
 2149.0,
 23583.0,
 29484.0,
 2320.92,
 1041.25,
 34839.0,
 852.6,
 18261.25,
 2766.4,
 1989.4,
 28812.0,
 823.2,
 2725.38,
 20139.0,
 57687.0,
 14393.75,
 70462.0,
 8697.5,
 1565.2,
 28812.0,
 273.28,
 2051.2,
 143.92,
 2051.2,
 15400.0,
 588.0,
 38136.0,
 3001.2,
 1132.8,
 1032.0,
 37488.0,
 30792.0,
 853.2,
 11140.0,
 705.04,
 613.2,
 2185.6,
 59040.0,
 379.68,
 894.88,
 1349.04,
 3094.4,
 4788.8,
 60088.0,
 1089.76,
 38136.0,
 574.08,
 1627.92,
 1309.28,
 9264.0,
 15240.0,
 16086.0,
 1309.28,
 10668.0,
 11816.0,
 51216.0,
 19392.0,
 1132.8,
 1627.92,
 2185.6,
 59040.0,
 2432.0,
 853.2,
 1320.0,
 15240.0,
 698.4,
 29538.0,
 396.36,
 102667.5,
 52479.0,
 8694.0,
 2506.68,
 20891.25,
 1014.93,
 31466.25,
 9018.0,
 69255.0,
 76135.5,
 4961.25,
 29538.0,
 1656.45,
 396.36,
 35748.0,
 1917.0,
 31466.25,
 330.75,
 102424.5,
 41170.5,
 6378.75,
 23737.5,
 39973.5,
 2112.48,
 71793.0,
 42572.25,
 950.4,
 50409.0,
 2412.72,
 1656.45,
 9866.25,
 65236.5,
 39973.5,
 1309.5,
 3049.2,
 1193.4,
 515.97,
 1706.4,
 328.23,
 1751.4,
 1868.4,
 226.8,
 2124.36,
 3547.8,
 226.8,
 4827.6,
 328.23,
 1868.4,
 2201.18,
 330.48,
 463.2,
 1629.6,
 463.2,
 43068.75,
 18525.0,
 80955.0,
 22550.0,
 3108.0,
 3908.0,
 17730.0,
 3250.5,
 482.0,
 1021.5,
 765.0,
 1185.0,
 22365.0,
 19950.0,
 68820.0,
 482.0,
 1865.5,
 23950.0,
 25590.0,
 4262.5,
 961.5,
 98245.0,
 12960.0,
 68820.0,
 3250.5,
 31612.5,
 65450.0,
 7237.5,
 78400.0,
 89790.0,
 4224.6,
 4078.0,
 3088.8,
 24745.0,
 3108.0,
 25590.0,
 1581.36,
 1949.64,
 1581.36,
 633.6,
 623.04,
 1215.83,
 1326.6,
 5279.18,
 623.04,
 2556.84,
 30492.0,
 92763.0,
 33563.75,
 2574.0,
 2083.62,
 29491.0,
 6582.4,
 3559.05,
 28809.0,
 2468.4,
 81023.25,
 5314.32,
 3201.66,
 5266.8,
 3273.6,
 33563.75,
 6582.4,
 45078.0,
 6171.0,
 1080.75,
 13244.0,
 1392.16,
 2288.88,
 7617.5,
 6457.0,
 43518.75,
 5783.8,
 19703.75,
 13021.25,
 13244.0,
 3559.05,
 292.6,
 37212.0,
 36240.0,
 32340.0,
 4840.2,
 1218.6,
 63828.0,
 2032.8,
 2296.56,
 4116.0,
 42696.0,
 125820.0,
 37212.0,
 32340.0,
 2172.0,
 4116.0,
 66948.0,
 48924.0,
 77400.0,
 50274.0,
 684.0,
 2959.2,
 58590.0,
 41412.0,
 2172.0,
 3036.96,
 6974.1,
 26166.0,
 41412.0,
 35805.0,
 2959.2,
 11340.0,
 2874.06,
 2296.56,
 4586.4,
 6051.6,
 3831.84,
 3674.4,
 1252.44,
 3674.4,
 3975.84,
 5005.65,
 5005.65,
 41996.5,
 81445.0,
 1149.2,
 44703.75,
 1181.18,
 942.24,
 5863.0,
 3247.4,
 1309.04,
 31473.0,
 6866.6,
 7040.8,
 119756.0,
 25723.75,
 890.76,
 2453.36,
 3051.75,
 3247.4,
 16243.5,
 1580.28,
 7795.13,
 119756.0,
 1082.9,
 942.24,
 1287.0,
 639.6,
 101595.0,
 1580.28,
 25723.75,
 3051.75,
 26958.75,
 1082.9,
 639.6,
 2761.2,
 7221.2,
 4880.4,
 2936.08,
 274.4,
 287.14,
 2936.08,
 583.8,
 6798.4,
 3710.7,
 2340.24,
 274.4,
 2340.24,
 3385.2,
 33642.0,
 17902.5,
 62832.0,
 42420.0,
 3177.3,
 4830.0,
 49367.5,
 109147.5,
 58751.0,
 9800.0,
 380.24,
 1692.46,
 4830.0,
 728.0,
 5187.0,
 3660.3,
 4895.52,
 1696.38,
 34300.0,
 3732.96,
 57673.0,
 94178.0,
 27562.5,
 1696.8,
 103320.0,
 11298.0,
 106512.0,
 2844.94,
 106722.0,
 11298.0,
 62832.0,
 42420.0,
 62769.0,
 37296.0,
 49770.0,
 4158.0,
 3660.3,
 4895.52,
 1696.38,
 1692.46,
 3927.0,
 22012.5,
 51881.25,
 20343.75,
 24570.0,
 3474.0,
 3631.5,
 2661.75,
 149677.5,
 5757.75,
 801.0,
 20343.75,
 2643.75,
 105367.5,
 112927.5,
 1645.2,
 879.0,
 900.0,
 6358.5,
 12431.25,
 115830.0,
 45712.5,
 1645.2,
 2596.5,
 1107.0,
 801.0,
 2643.75,
 55387.5,
 10350.0,
 879.0,
 111375.0,
 24570.0,
 1436.4,
 759.15,
 3250.8,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 276.15,
 344.4,
 72.1,
 44.73,
 92.82,
 222.96,
 4235.0,
 177.03,
 173.4,
 412.5,
 320.52,
 91.92,
 1482.0,
 4889.5,
 7542.5,
 332.1,
 6903.0,
 275.1,
 128.1,
 7494.0,
 828.75,
 227.1,
 314.48,
 908.75,
 983.75,
 2278.75,
 112.05,
 91.92,
 8715.0,
 7542.5,
 772.8,
 25.34,
 1153.75,
 828.75,
 146.44,
 18.41,
 3302.25,
 908.75,
 983.75,
 2958.0,
 1482.0,
 4889.5,
 2180.0,
 238.68,
 48.15,
 1856.25,
 310.8,
 1284.0,
 300.3,
 19964.0,
 274.08,
 626.4,
 165.6,
 4150.0,
 708.9,
 5508.0,
 10368.0,
 274.08,
 1655.0,
 310.8,
 2022.5,
 5362.5,
 428.4,
 11496.0,
 19964.0,
 6822.5,
 577.5,
 281.82,
 253.2,
 260.16,
 626.4,
 20762.0,
 20139.0,
 2022.5,
 5362.5,
 253.2,
 217.6,
 260.16,
 1655.0,
 1284.0,
 20139.0,
 6822.5,
 1862.0,
 13580.0,
 1554.0,
 6606.0,
 5690.0,
 20762.0,
 494.4,
 376.4,
 11496.0,
 15913.13,
 1548.0,
 6201.0,
 700.92,
 326.88,
 411.18,
 684.36,
 114.24,
 18868.5,
 4826.25,
 6397.5,
 21910.5,
 6652.5,
 684.36,
 6201.0,
 5887.5,
 493.02,
 7533.75,
 875.25,
 4826.25,
 6397.5,
 7533.75,
 25596.0,
 689.76,
 5887.5,
 16866.0,
 17241.0,
 875.25,
 498.6,
 369.6,
 2310.3,
 892.44,
 1218.6,
 1218.6,
 1356.6,
 588.8,
 798.28,
 24252.0,
 3836.0,
 1180.2,
 22308.0,
 798.28,
 24252.0,
 5690.0,
 1190.28,
 3975.0,
 16974.0,
 35016.0,
 48300.0,
 14940.0,
 130.8,
 1659.2,
 844.8,
 402.6,
 908.4,
 3836.0,
 5690.0,
 703.2,
 2116.8,
 30478.0,
 415.68,
 4886.0,
 30478.0,
 908.4,
 26110.0,
 5370.0,
 26698.0,
 402.6,
 24892.0,
 405.65,
 480.2,
 822.15,
 941.15,
 1458.6,
 1458.6,
 941.15,
 589.05,
 673.8,
 405.65,
 1119.0,
 669.6,
 1563.0,
 14865.0,
 355.6,
 2093.25,
 199.5,
 870.45,
 24228.75,
 22668.75,
 12600.0,
 1405.2,
 16500.0,
 1303.0,
 18700.0,
 14906.25,
 24105.0,
 814.45,
 14865.0,
 10535.0,
 1965.0,
 21490.0,
 1389.0,
 5381.25,
 4400.0,
 1802.0,
 2663.0,
 747.6,
 1587.0,
 416.25,
 2145.75,
 5043.75,
 10535.0,
 2832.0,
 1579.0,
 5381.25,
 4400.0,
 1033.0,
 18750.0,
 1389.0,
 1265.0,
 2297.0,
 2663.0,
 199.5,
 870.45,
 23625.0,
 9660.0,
 21490.0,
 18750.0,
 3420.9,
 1341.0,
 2559.6,
 404.64,
 1655.28,
 1827.0,
 110.46,
 6652.5,
 20580.0,
 30660.0,
 589.26,
 1960.56,
 31416.0,
 1655.28,
 15267.0,
 7140.0,
 20662.5,
 1377.0,
 31416.0,
 629.16,
 21978.0,
 43596.0,
 2559.6,
 629.16,
 21978.0,
 1347.6,
 43848.0,
 14906.25,
 ...]

In [34]:
[type(x) for x in fin_sample_trimmed_clean['Sales']][0:2]

[str, str]

In [27]:
fin_sample_trimmed_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21000 entries, 0 to 20999
Data columns (total 16 columns):
Segment                21000 non-null object
Country                21000 non-null object
Product                21000 non-null object
Discount Band          21000 non-null object
Units Sold             21000 non-null float64
Manufacturing Price    21000 non-null object
Sale Price             21000 non-null object
Gross Sales            21000 non-null object
Discounts              19410 non-null float64
Sales                  21000 non-null object
COGS                   21000 non-null object
Profit                 21000 non-null object
Date                   21000 non-null object
Month Number           21000 non-null int64
Month Name             21000 non-null object
Year                   21000 non-null int64
dtypes: float64(2), int64(2), object(12)
memory usage: 2.6+ MB

In [28]:
fin_sample_trimmed_clean['Discounts'].apply(type)

0        <class 'float'>
1        <class 'float'>
2        <class 'float'>
3        <class 'float'>
4        <class 'float'>
              ...
20995    <class 'float'>
20996    <class 'float'>
20997    <class 'float'>
20998    <class 'float'>
20999    <class 'float'>
Name: Discounts, Length: 21000, dtype: object

In [29]:
fin_sample_trimmed_clean.tail()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
20995,Small Business,France,Amarilla,High,2475.0,260.00,300.00,"742,500.00",111375.00,"631,125.00","618,750.00","12,375.00",3/1/2014,3,March,2014
20996,Small Business,Mexico,Amarilla,High,546.0,260.00,300.00,"163,800.00",24570.00,"139,230.00","136,500.00","2,730.00",10/1/2014,10,October,2014
20997,Government,Mexico,Montana,High,1368.0,5.00,7.00,"9,576.00",1436.40,"8,139.60","6,840.00","1,299.60",2/1/2014,2,February,2014
20998,Government,Canada,Paseo,High,723.0,10.00,7.00,"5,061.00",759.15,"4,301.85","3,615.00",686.85,4/1/2014,4,April,2014
20999,Channel Partners,United States of America,VTT,High,1806.0,250.00,12.00,"21,672.00",3250.80,"18,421.20","5,418.00","13,003.20",5/1/2014,5,May,2014

## Resources

 * [Scroll to Top](#Cute-pandas-2)