In [56]:
import pandas as pd

In [125]:
fin_sample = pd.read_csv('financial_sample.csv', dtype = { 'Sales' : 'float64' },
thousands=',', decimal='.')
fin_sample.rename(columns=lambda x: x.strip(), inplace=True)
fin_sample_trimmed = fin_sample.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
fin_sample_trimmed_clean = fin_sample_trimmed.apply(lambda x: x.str.strip('$-') if x.dtype == "object" else x)

In [126]:
fin_sample_trimmed_clean['Discounts']

0
1
2
3
4
            ...
20995    111,375.00
20996     24,570.00
20997      1,436.40
20998        759.15
20999      3,250.80
Name: Discounts, Length: 21000, dtype: object

In [127]:
fin_sample_trimmed_clean.dtypes

Segment                 object
Country                 object
Product                 object
Discount Band           object
Units Sold             float64
Manufacturing Price     object
Sale Price              object
Gross Sales             object
Discounts               object
Sales                   object
COGS                    object
Profit                  object
Date                    object
Month Number             int64
Month Name              object
Year                     int64
dtype: object

In [143]:
pd.to_numeric(fin_sample_trimmed_clean['Discounts'].astype(str).str.replace(',',''), errors='coerce')
# fin_sample_trimmed_clean.fillna(0)

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
20995    111375.00
20996     24570.00
20997      1436.40
20998       759.15
20999      3250.80
Name: Discounts, Length: 21000, dtype: float64

In [144]:
fin_sample_trimmed_clean.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3.00,20.00,"32,370.00",,"32,370.00","16,185.00","16,185.00",1/1/14,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3.00,20.00,"26,420.00",,"26,420.00","13,210.00","13,210.00",1/1/14,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3.00,15.00,"32,670.00",,"32,670.00","21,780.00","10,890.00",6/1/14,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3.00,15.00,"13,320.00",,"13,320.00","8,880.00","4,440.00",6/1/14,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3.00,15.00,"37,050.00",,"37,050.00","24,700.00","12,350.00",6/1/14,6,June,2014

In [129]:
[x for x in fin_sample_trimmed_clean['Discounts']][0:2]

['', '']

In [130]:
[type(x) for x in fin_sample_trimmed_clean['Sales']][0:2]

[str, str]

In [147]:
fin_sample_trimmed_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21000 entries, 0 to 20999
Data columns (total 16 columns):
Segment                21000 non-null object
Country                21000 non-null object
Product                21000 non-null object
Discount Band          21000 non-null object
Units Sold             21000 non-null float64
Manufacturing Price    21000 non-null object
Sale Price             21000 non-null object
Gross Sales            21000 non-null object
Discounts              21000 non-null object
Sales                  21000 non-null object
COGS                   21000 non-null object
Profit                 21000 non-null object
Date                   21000 non-null object
Month Number           21000 non-null int64
Month Name             21000 non-null object
Year                   21000 non-null int64
dtypes: float64(1), int64(2), object(13)
memory usage: 2.6+ MB

In [135]:
locale.setlocale(locale.LC_NUMERIC, '')
fin_sample_trimmed_clean.applymap(locale.atof)

ValueError: ("could not convert string to float: 'Government'", 'occurred at index Segment')

In [139]:
fin_sample_trimmed_clean['Discounts'].apply(type)

0        <class 'str'>
1        <class 'str'>
2        <class 'str'>
3        <class 'str'>
4        <class 'str'>
             ...
20995    <class 'str'>
20996    <class 'str'>
20997    <class 'str'>
20998    <class 'str'>
20999    <class 'str'>
Name: Discounts, Length: 21000, dtype: object

In [136]:
fin_sample_trimmed_clean['Sales'].iloc[:,:].str.replace(',', '').astype(float)

IndexingError: Too many indexers

In [120]:
fin_sample_trimmed_clean['Sales'].astype(str).astype(float)

ValueError: could not convert string to float: '32,370.00'

In [148]:
fin_sample_trimmed_clean.tail()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
20995,Small Business,France,Amarilla,High,2475.0,260.00,300.00,"742,500.00","111,375.00","631,125.00","618,750.00","12,375.00",3/1/2014,3,March,2014
20996,Small Business,Mexico,Amarilla,High,546.0,260.00,300.00,"163,800.00","24,570.00","139,230.00","136,500.00","2,730.00",10/1/2014,10,October,2014
20997,Government,Mexico,Montana,High,1368.0,5.00,7.00,"9,576.00","1,436.40","8,139.60","6,840.00","1,299.60",2/1/2014,2,February,2014
20998,Government,Canada,Paseo,High,723.0,10.00,7.00,"5,061.00",759.15,"4,301.85","3,615.00",686.85,4/1/2014,4,April,2014
20999,Channel Partners,United States of America,VTT,High,1806.0,250.00,12.00,"21,672.00","3,250.80","18,421.20","5,418.00","13,003.20",5/1/2014,5,May,2014